<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2011-2012, Team maxdocs.org

    All rights reserved.

    Redistribution and use in source and binary forms, with or without modification, are permitted provided
    that the following conditions are met:

    1. Redistributions of source code must retain the above copyright notice, this list of conditions and the
       following disclaimer.
    2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and
       the following disclaimer in the documentation and/or other materials provided with the distribution.
    3. The name of the author may not be used to endorse or promote products derived from this software
       without specific prior written permission.

    THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT
    NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
    EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
    SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
    LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
    ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"	
	xsi:schemaLocation="
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<!-- Properties -->
	<context:property-placeholder location="classpath:maxdocs.properties"/>
	
	<!-- Storage -->
	<bean id="storageImpl" class="org.maxdocs.storage.FileStorage">
		<constructor-arg value="${maxdocs.content-path}"/>
		<constructor-arg value="${maxdocs.version-folder}"/>
	</bean>

	<!-- Markup parser -->
	<context:component-scan base-package="org.maxdocs.parser" />

	<bean id="mediawiki" class="org.eclipse.mylyn.wikitext.mediawiki.core.MediaWikiLanguage">
		<property name="internalLinkPattern" value="{0}" />
	</bean>
	<bean id="creole" class="org.eclipse.mylyn.wikitext.creole.core.CreoleLanguage" />

	<bean id="markupLanguageFactory" class="org.springframework.beans.factory.config.ServiceLocatorFactoryBean">
		<property name="serviceLocatorInterface" value="org.maxdocs.parser.MarkupLanguageFactory"/>
	</bean>
	
	<bean id="parserImpl" class="org.maxdocs.parser.MarkupParserImpl">
		<property name="markupLanguageFactory" ref="markupLanguageFactory"/>
	</bean>

	<!-- Maxdocs engine -->
	<bean id="maxDocs" class="org.maxdocs.engine.MaxDocsImpl">
		<property name="storage" ref="storageImpl" />
		<property name="parser" ref="parserImpl" />
	</bean>

	<!--  Template -->
	<bean id="templateName" class="java.lang.String" scope="session">
		<constructor-arg value="${maxdocs.templateName}" />
	</bean>

	<bean id="breadcrumbsCount" scope="singleton" class="java.lang.Integer">
		<constructor-arg value="${maxdocs.breadcrumbsCount}"/>
	</bean>
	
	<!-- Security -->
	<security:http auto-config="true">
		<!-- the most specific matches at the top -->
		<security:intercept-url pattern="/internal/**" filters="none"/>
		<security:intercept-url pattern="/bar/**" access="ROLE_USER" />
		<security:intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="matze" password="matze" authorities="ROLE_USER, ROLE_ADMIN" />
				<security:user name="bohni" password="bohni" authorities="ROLE_USER, ROLE_ADMIN" />
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>
  
</beans>
